<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Success</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet"/>
</head>
<body>
<h1>Tak for din tilmelding!</h1>
<p>Du er nu tilmeldt vores nyhedsbrev.</p>

<a href="/" class="button">Tilbage til forsiden</a>


<form method="get" action="/">
    <button type="submit" class="button">Tilbage til forsiden</button>
</form>

</body>
</html>